.axis-label {
    text-anchor: middle;
    font-size: 12px;
    font-weight: semibold;
}

body {
    font-family: "Open Sans";
    margin: 0;
}

#main {
    margin: 20px;
}


/*design for the title*/
h3 {
    width: 700px;
    height: 50px;
    background-color: rgb(206, 239, 139);
    text-align: center; 
    padding: 10px; 
    border-radius: 5px; 
}


/*design for filter button*/
#filter-button {
    background-color: #39a03d; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    padding: 7px 10px; 
    text-align: center; 
    font-size: 15px; 
    margin: 5px 0;  
}

#filter-button:hover {
    background-color: #96e49a; 
    color: rgb(0, 0, 0);
}

#filter-button:active {
    background-color: #3e8e41; 
    transform: translateY(3px); 
}

/*container for dropdown*/
.select-container {
    border: 2px solid #4CAF50; 
    background-color: #f9f9f9; 
    border-radius: 10px; 
    padding: 15px; 
    margin: 10px 0; 
    max-width: 700px; 
}

/*design for dropdown*/
.select-container .custom-select {
    background-color: #4CAF50; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    padding: 3px 20px; 
    font-size: 15px; 
    text-align: left; 
    margin-right: 20px; 
}

.select-container .custom-select:hover {
    background-color: #96e49a; 
    color: rgb(0, 0, 0);
}

.select-container .custom-select:focus {
    background-color: #3e8e41;
    outline: none; 
}


