.axis-label {
    text-anchor: middle;
    font-size: 12px;
    font-weight: semibold;
}

body {
    font-family: "Open Sans";
    margin: 0;
}

#main {
    margin: 20px;
}

h1 {
    background-color: rgb(206, 239, 139);
    padding: 10px; 
    border-radius: 5px; 
    width: 400px;
    height: 70px;
    text-align: center; 
}
